{% extends "FrontOffice/base.html.twig" %}

{% block title %}Dashboard3 - {{ parent() }}{% endblock %}

{% set ASIDE_MINIMIZE = true %}
{% set CONTENT_TOPBAR = true %}

{% block body %}
    <div class="toolbar px-0" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack"><div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                    Dashboard 2
                    <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                        {{ breadcrumb(app.request) }}
                    </ul>
                </h1>
            </div>
            <div class="d-flex align-items-center py-1">
                <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button">Create</a>
            </div>
        </div>
    </div>

    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container">
            <div class="card mb-10">
                <div class="card-body d-flex align-items-center p-5 p-lg-8">
                    <div class="d-flex h-50px w-50px h-lg-80px w-lg-80px flex-shrink-0 flex-center position-relative align-self-start align-self-lg-center mt-3 mt-lg-0">
                        <span class="svg-icon svg-icon-primary position-absolute opacity-15">
                            {{ include('_svg/duotone/Layout/Layout-polygon.svg', {"class": "h-50px w-50px h-lg-80px w-lg-80px"}) }}
                        </span>
                        <span class="svg-icon svg-icon-2x svg-icon-lg-3x svg-icon-primary position-absolute">
                            {{ include('_svg/duotone/Tools/Tools.svg') }}
                        </span>
                    </div>
                    <div class="ms-6">
                        <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
                            This page is currently under maintenance or under construction.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-10">
                <div class="card-body p-5 p-lg-8">
                    <div class="stepper stepper-pills" id="kt_stepper_example_basic">
                        <div class="stepper-nav flex-center flex-wrap mb-10">
                            <div class="stepper-item mx-2 my-4 current" data-kt-stepper-element="nav">
                                <div class="stepper-line w-40px"></div>
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">1</span>
                                </div>
                                <div class="stepper-label">
                                    <h3 class="stepper-title">Step 1</h3>
                                    <div class="stepper-desc">Description</div>
                                </div>
                            </div>
                            <div class="stepper-item mx-2 my-4" data-kt-stepper-element="nav">
                                <div class="stepper-line w-40px"></div>
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">2</span>
                                </div>
                                <div class="stepper-label">
                                    <h3 class="stepper-title">Step 2</h3>
                                    <div class="stepper-desc">Description</div>
                                </div>
                            </div>
                            <div class="stepper-item mx-2 my-4" data-kt-stepper-element="nav">
                                <div class="stepper-line w-40px"></div>
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">3</span>
                                </div>
                                <div class="stepper-label">
                                    <h3 class="stepper-title">Step 3</h3>
                                    <div class="stepper-desc">Description</div>
                                </div>
                            </div>
                            <div class="stepper-item mx-2 my-4" data-kt-stepper-element="nav">
                                <div class="stepper-line w-40px"></div>
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">4</span>
                                </div>
                                <div class="stepper-label">
                                    <h3 class="stepper-title">Step 4</h3>
                                    <div class="stepper-desc">Description</div>
                                </div>
                            </div>
                        </div>
                        <form class="form w-lg-500px mx-auto" novalidate="novalidate" id="kt_stepper_example_basic_form">
                            <div class="mb-5">
                                <div class="flex-column current" data-kt-stepper-element="content">
                                    <div class="fv-row mb-10">
                                        <label class="form-label">Example Label 1</label>
                                        <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value=""/>
                                        <div class="fv-plugins-message-container invalid-feedback"></div>
                                    </div>
                                    <div class="fv-row mb-10">
                                        <label class="form-label">Example Label 2</label>
                                        <input type="text" class="form-control form-control-solid" name="input2" placeholder="" value=""/>
                                    </div>
                                    <div class="fv-row mb-10">
                                        <label class="form-label">Example Label 3</label>
                                        <label class="form-check form-switch form-check-custom form-check-solid">
                                            <input class="form-check-input" type="checkbox" checked="checked" value="1"/>
                                            <span class="form-check-label">Switch</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="flex-column" data-kt-stepper-element="content">
                                    <div class="fv-row mb-10">
                                        <label class="form-label">Example Label 1</label>
                                        <input type="text" class="form-control form-control-solid" name="input4.1" placeholder="" value=""/>
                                    </div>
                                    <div class="fv-row mb-10">
                                        <label class="form-label">Example Label 2</label>
                                        <textarea class="form-control form-control-solid" rows="3" name="input4.2" placeholder=""></textarea>
                                    </div>
                                    <div class="fv-row mb-10">
                                        <label class="form-label">Example Label 3</label>
                                        <label class="form-check form-check-custom form-check-solid">
                                            <input class="form-check-input" checked="checked" type="checkbox" value="1"/>
                                            <span class="form-check-label">Checkbox</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="flex-column" data-kt-stepper-element="content">
                                    <div class="fv-row mb-10">
                                        <label class="form-label d-flex align-items-center">
                                            <span class="required">Input 1</span>
                                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Example tooltip"></i>
                                        </label>
                                        <input type="text" class="form-control form-control-solid" name="input2.1" placeholder="" value=""/>
                                    </div>
                                    <div class="fv-row mb-10">
                                        <label class="form-label">Input 2</label>
                                        <input type="text" class="form-control form-control-solid" name="input2.2" placeholder="" value=""/>
                                    </div>
                                </div>
                                <div class="flex-column" data-kt-stepper-element="content">
                                    <div class="fv-row mb-10">
                                        <label class="form-label d-flex align-items-center">
                                            <span class="required">Input 1</span>
                                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Example tooltip"></i>
                                        </label>
                                        <input type="text" class="form-control form-control-solid" name="input3.1" placeholder="" value=""/>
                                    </div>
                                    <div class="fv-row mb-10">
                                        <label class="form-label">Input 2</label>
                                        <input type="text" class="form-control form-control-solid" name="input3.2" placeholder="" value=""/>
                                    </div>
                                    <div class="fv-row mb-10">
                                        <label class="form-label">Input 3</label>
                                        <input type="text" class="form-control form-control-solid" name="input3.3" placeholder="" value=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-stack">
                                <div class="me-2">
                                    <button type="button" class="btn btn-light btn-active-light-primary" data-kt-stepper-action="previous">Back</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary" data-kt-stepper-action="submit">
                                        <span class="indicator-label">Submit</span>
                                        <span class="indicator-progress">Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" data-kt-stepper-action="next">
                                        Continue
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary btn-sm" id="btn_test">
                <span class="indicator-label">Test</span>
                <span class="indicator-progress">Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        var btn_test;
        var stepper, stepperElem;
        var KTDashboard3 = function(){
            return {
                init: function(){
                    btn_test = document.querySelector("#btn_test");
                    btn_test.addEventListener("click", function (c){
                        btn_test.setAttribute("data-kt-indicator", "on");
                        btn_test.disabled = !0;
                        setTimeout(function(){
                            btn_test.removeAttribute("data-kt-indicator");
                            btn_test.disabled = !1;
                        }, 2000);
                    })
                },
                step: function(){
                    var stepper = document.querySelector("#kt_stepper_example_basic");
                    var stepperForm = stepper.querySelector('#kt_stepper_example_basic_form');
                    var stepperSubmit = stepper.querySelector('[data-kt-stepper-action="submit"]');
                    var s = new KTStepper(stepper);
                    var a = [];

                    a.push(FormValidation.formValidation(stepperForm, {
                        fields: {
                            "input1": {validators: {notEmpty: {message: "your input1 cannot be empty"}}}
                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger,
                            bootstrap: new FormValidation.plugins.Bootstrap5({
                                rowSelector: ".fv-row",
                                eleInvalidClass: "",
                                eleValidClass: ""
                            })
                        }
                    }));

                    s.on("kt.stepper.next", function(e){
                        var t = a[e.getCurrentStepIndex() - 1];
                        t ? t.validate().then(function(t){
                            "Valid" == t ? (e.goNext(), KTUtil.scrollTop()) : null
                        }) : (e.goNext(), KTUtil.scrollTop());
                    });

                    s.on("kt.stepper.previous", function(e){
                        e.goPrevious(), KTUtil.scrollTop();
                    });

                    stepperSubmit.addEventListener("click", (function (t) {
                        stepperSubmit.setAttribute("data-kt-indicator", "on");
                        stepperSubmit.disabled = !0;
                        //stepperForm.submit();
                        setTimeout(function(){
                            stepperSubmit.removeAttribute("data-kt-indicator");
                            stepperSubmit.disabled = !1;
                        }, 2000);
                    }));
                }
            }
        }();
        KTUtil.onDOMContentLoaded(function(){
            KTDashboard3.init();
            KTDashboard3.step();
        })
    </script>
{% endblock %}