{% extends "_security/base.html.twig" %}

{% block title %}Sign in - {{ parent() }}{% endblock %}

{% block body %}
    <form class="form w-100 mb-10" novalidate="novalidate" id="security_login_form" method="post">
        <div class="text-center mb-10">
            <img alt="Logo" class="mh-125px" src="{{ asset('assets/metronic/media/svg/misc/smartphone.svg') }}">
        </div>
        {% if error %}
            <div class="alert alert-danger mb-10">{{ error }}</div>
        {% endif %}
        <div class="text-center mb-10">
            <h1 class="text-dark mb-3">Two Step Verification</h1>
            <div class="text-muted fw-bold fs-5 mb-5">Enter the verification code we sent to</div>
            {% if otp_method == "email" %}<div class="fw-bolder text-dark fs-3">{{ user.email }}</div>
            {% elseif otp_method == "sms" %}<div class="fw-bolder text-dark fs-3">{{ user.phone }}</div>
            {% elseif otp_method == "google" %}<div class="fw-bolder text-dark fs-3">-</div>
            {% endif %}
        </div>
        <div class="mb-10 px-md-10">
            <div class="fw-bolder text-start text-dark fs-6 mb-1 ms-1">Type your 6 digit security code</div>
            <div class="d-flex flex-wrap flex-stack" id="kt_sign_two_steps_elements">
                <input id="first" type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" autofocus />
                <input id="second" type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" />
                <input id="third" type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" />
                <input id="fourth" type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" />
                <input id="fifth" type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" />
                <input id="sixth" type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" />
            </div>
            <div class="d-flex flex-wrap flex-stack">
                <input id="_auth_code" class="form-control form-control-lg" type="hidden" name="_auth_code" autocomplete="off"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate-otp') }}">
                <input type="hidden" name="_otp_method" value="{{ otp_method }}">
            </div>
        </div>
        <div class="d-flex flex-center">
            <button type="button" id="security_login_submit" class="btn btn-lg btn-primary fw-bolder">
                <span class="indicator-label">Submit</span>
                <span class="indicator-progress">Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </form>
    <div class="text-center fw-bold fs-5">
        <span class="text-muted me-1">Didn’t get the code ?</span>
        {% for otp in user.otp %}
            {% if not loop.first %}
                <a href="{{ path('app.security.verify', {'_otp_method': otp}) }}" class="link-primary fw-bolder fs-5 me-1">{{ otp }}</a>
                {% if not loop.last %}<span class="text-muted me-1">or</span>{% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        var security_login_form;
        var security_login_submit;
        var SecurityLogin = function(){
            return {
                init: function(){
                    security_login_form = document.querySelector("#security_login_form");
                    security_login_submit = document.querySelector("#security_login_submit");
                    security_login_submit.addEventListener("click", function (c){
                        security_login_submit.setAttribute("data-kt-indicator", "on");
                        security_login_submit.disabled = !0;
                        data = document.getElementById("kt_sign_two_steps_elements");
                        code = "";
                        data.querySelectorAll("input").forEach(function(k){
                            code = code + k.value;
                        });
                        document.getElementById('_auth_code').value = code;
                        setTimeout(function () {
                            document.querySelector("#security_login_form").submit();
                        }, 1000);
                    })
                }
            }
        }();
        KTUtil.onDOMContentLoaded(function(){
            SecurityLogin.init();
        })
    </script>
    <script type="application/javascript">
        function OTPInput() {
            const inputs = document.querySelectorAll('#kt_sign_two_steps_elements > *[id]');
            var ctrlDown = false,
                ctrlKey = 17,
                cmdKey = 91,
                vKey = 86,
                cKey = 67;
            $(document).keydown(function(e) {
                if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = true;
            }).keyup(function(e) {
                if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = false;
            });
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('keydown', function(event) {
                    if (event.key === "Backspace") {
                        inputs[i].value = '';
                        if (i !== 0)
                            inputs[i - 1].focus();
                    } else if (event.key === "Enter") {
                        document.getElementById("security_login_submit").click();
                    } else {
                        if (i === inputs.length - 1 && inputs[i].value !== '') {
                            return true;
                        } else if (event.keyCode > 47 && event.keyCode < 58) {
                            inputs[i].value = event.key;
                            if (i !== inputs.length - 1)
                                inputs[i + 1].focus();
                            event.preventDefault();
                        } else if (event.keyCode > 64 && event.keyCode < 91) {
                            inputs[i].value = String.fromCharCode(event.keyCode);
                            if (i !== inputs.length - 1)
                                inputs[i + 1].focus();
                            event.preventDefault();
                        } else if (event.keyCode > 95 && event.keyCode < 106) {
                            if(event.keyCode == 96) inputs[i].value = 0;
                            else if(event.keyCode == 97) inputs[i].value = 1;
                            else if(event.keyCode == 98) inputs[i].value = 2;
                            else if(event.keyCode == 99) inputs[i].value = 3;
                            else if(event.keyCode == 100) inputs[i].value = 4;
                            else if(event.keyCode == 101) inputs[i].value = 5;
                            else if(event.keyCode == 102) inputs[i].value = 6;
                            else if(event.keyCode == 103) inputs[i].value = 7;
                            else if(event.keyCode == 104) inputs[i].value = 8;
                            else if(event.keyCode == 105) inputs[i].value = 9;
                            if (i !== inputs.length - 1)
                                inputs[i + 1].focus();
                            event.preventDefault();
                        }
                    }
                });
            }
        }
        OTPInput();
    </script>
{% endblock %}