{% extends "FrontOffice/base.html.twig" %}

{% block title %}Edit - User Management - {{ parent() }}{% endblock %}

{% block body %}
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-fluid">
            <div class="d-flex flex-column flex-xl-row">
                <div class="flex-column flex-lg-row-auto w-100 w-xl-400px mb-10">
                    <div class="card mb-5 mb-xl-8">
                        <div class="card-body">
                            <div class="d-flex flex-center flex-column py-5">
                                {% if user.avatar %}
                                    <div class="symbol symbol-100px symbol-circle mb-7">
                                        <img src="{{ user.avatar }}" alt="{{ user.lastname }} {{ user.firstname }}">
                                    </div>
                                {% else %}
                                    <div class="symbol symbol-100px symbol-circle mb-7">
                                        <div class="symbol-label fs-3 bg-light-danger text-danger">{{ user.initial | upper }}</div>
                                    </div>
                                {% endif %}
                                <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">{{ user.lastname }} {{ user.firstname }}</a>
                                <div class="mb-9">
                                    <div class="badge badge-lg badge-light-primary d-inline">TODO : Groupe</div>
                                </div>
                            </div>
                            <div class="d-flex flex-stack fs-4 py-3">
                                <div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="false" aria-controls="kt_user_view_details">Details
                                    <span class="ms-2 rotate-180">
                                        <span class="svg-icon svg-icon-3">{{ include('_svg/duotone/Navigation/Angle-down.svg') }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div id="kt_user_view_details" class="collapse show">
                                <div class="pb-5 fs-6">
                                    <div class="fw-bolder mt-5">Account ID</div>
                                    <div class="text-gray-600">{{ user.id }}</div>
                                    <div class="fw-bolder mt-5">Email</div>
                                    <div class="text-gray-600">
                                        <a href="#" class="text-gray-600 text-hover-primary">{{ user.email }}</a>
                                    </div>
                                    <div class="fw-bolder mt-5">Address</div>
                                    <div class="text-gray-600">
                                        TODO : LOCATION
                                    </div>
                                    <div class="fw-bolder mt-5">Language</div>
                                    <div class="text-gray-600">TODO : Language</div>
                                    <div class="fw-bolder mt-5">Last Login</div>
                                    <div class="text-gray-600">TODO : LastLogin</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-5 mb-xl-8">
                        <div class="card-header border-0">
                            <div class="card-title">
                                <h3 class="fw-bolder m-0">Connected Accounts</h3>
                            </div>
                        </div>
                        <div class="card-body pt-2">
                            <div class="py-2">
                                <div class="d-flex flex-stack">
                                    <div class="d-flex">
                                        <img src="{{ asset('assets/metronic/media/svg/brand-logos/google-icon.svg') }}" class="w-30px me-6" alt="">
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-5 text-dark text-hover-primary fw-bolder">Google</a>
                                            <div class="fs-6 fw-bold text-muted">Plan properly your workflow</div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                                            <input class="form-check-input" name="google" type="checkbox" value="1" id="kt_modal_connected_accounts_google" checked="checked">
                                            <span class="form-check-label fw-bold text-muted" for="kt_modal_connected_accounts_google"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-5"></div>
                                <div class="d-flex flex-stack">
                                    <div class="d-flex">
                                        <img src="{{ asset('assets/metronic/media/svg/brand-logos/github.svg') }}" class="w-30px me-6" alt="">
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-5 text-dark text-hover-primary fw-bolder">Github</a>
                                            <div class="fs-6 fw-bold text-muted">Keep eye on on your Repositories</div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                                            <input class="form-check-input" name="github" type="checkbox" value="1" id="kt_modal_connected_accounts_github" checked="checked">
                                            <span class="form-check-label fw-bold text-muted" for="kt_modal_connected_accounts_github"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-5"></div>
                                <div class="d-flex flex-stack">
                                    <div class="d-flex">
                                        <img src="{{ asset('assets/metronic/media/svg/brand-logos/microsoft-teams.svg') }}" class="w-30px me-6" alt="">
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-5 text-dark text-hover-primary fw-bolder">Microsoft Teams</a>
                                            <div class="fs-6 fw-bold text-muted">Integrate Projects Discussions</div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                                            <input class="form-check-input" name="github" type="checkbox" value="1" id="kt_modal_connected_accounts_github" checked="checked">
                                            <span class="form-check-label fw-bold text-muted" for="kt_modal_connected_accounts_github"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-5"></div>
                                <div class="d-flex flex-stack">
                                    <div class="d-flex">
                                        <img src="{{ asset('assets/metronic/media/svg/brand-logos/slack-icon.svg') }}" class="w-30px me-6" alt="">
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-5 text-dark text-hover-primary fw-bolder">Slack</a>
                                            <div class="fs-6 fw-bold text-muted">Integrate Projects Discussions</div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                                            <input class="form-check-input" name="slack" type="checkbox" value="1" id="kt_modal_connected_accounts_slack">
                                            <span class="form-check-label fw-bold text-muted" for="kt_modal_connected_accounts_slack"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-lg-row-fluid ms-lg-10">
                    {% set activeRoute = app.request.attributes.get('_route') %}
                    <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-8">
                        <li class="nav-item">
                            <a href="{{ path('frontoffice.users.show', {'user': user}) }}" class="nav-link text-active-primary pb-4 mx-2 ms-0">
                                <span class="svg-icon svg-icon-4 me-1">{{ include('_svg/duotone/Interface/Arrow-Left-Square.svg') }}</span>
                            </a>
                        </li>
                        <li class="nav-item"><a href="{{ path('frontoffice.users.edit.overview', {'user': user}) }}" class="nav-link text-active-primary pb-4 mx-2 {{ 'frontoffice.users.edit.overview' in activeRoute ? 'active' }}">Overview</a></li>
                        <li class="nav-item"><a href="{{ path('frontoffice.users.edit.security', {'user': user}) }}" class="nav-link text-active-primary pb-4 mx-2 {{ 'frontoffice.users.edit.security' in activeRoute ? 'active' }}">Security</a></li>
                        <li class="nav-item ms-auto">
                            <a href="{{ path('frontoffice.users.delete', {'user': user}) }}" class="nav-link text-active-danger pb-4 mx-2 me-0 {{ 'frontoffice.users.delete' in activeRoute ? 'active' }}">Delete</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {% block content '' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}