{% extends "FrontOffice/base.html.twig" %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block topbar_left %}
    <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_header_nav'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
        <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">User management</h1>
        <span class="h-20px border-gray-200 border-start mx-4"></span>
        <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            {{ breadcrumb(app.request) }}
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="post d-flex flex-column-fluid">
        <div class="container">
            <div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="frontoffice_users_new_stepper">
                <div class="d-flex justify-content-center bg-body rounded justify-content-xl-start flex-row-auto w-100 w-xl-300px w-xxl-400px me-9">
                    <div class="px-6 px-lg-10 px-xxl-15 py-20">
                        <div class="stepper-nav">
                            <div class="stepper-item current" data-kt-stepper-element="nav">
                                <div class="stepper-line w-40px"></div>
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">1</span>
                                </div>
                                <div class="stepper-label">
                                    <h3 class="stepper-title">Account Settings</h3>
                                    <div class="stepper-desc fw-bold">TODO</div>
                                </div>
                            </div>
                            <div class="stepper-item" data-kt-stepper-element="nav">
                                <div class="stepper-line w-40px"></div>
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">2</span>
                                </div>
                                <div class="stepper-label">
                                    <h3 class="stepper-title">Personal information</h3>
                                    <div class="stepper-desc fw-bold">TODO</div>
                                </div>
                            </div>
                            <div class="stepper-item" data-kt-stepper-element="nav">
                                <div class="stepper-line w-40px"></div>
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">3</span>
                                </div>
                                <div class="stepper-label">
                                    <h3 class="stepper-title">Account security</h3>
                                    <div class="stepper-desc fw-bold">TODO</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-fluid flex-center bg-body rounded">
                    {{ form_start(form.new, {'attr': {'id': 'frontoffice_users_new_form', 'class': 'py-20 w-100 w-xl-700px px-9 fv-plugins-bootstrap5 fv-plugins-framework', 'novalidate': 'novalidate'}}) }}
                        <div class="mb-5">
                            <div class="flex-column current" data-kt-stepper-element="content">
                                <div class="pb-10 pb-lg-15">
                                    <h2 class="fw-bolder text-dark">Account settings</h2>
                                    <div class="text-muted fw-bold fs-6">
                                        If you need more info, please check out <a href="#" class="link-primary fw-bolder">Help Page</a>.
                                    </div>
                                </div>
                                {% include "_forms/defaults/input.text.html.twig" with { 'form' : form.new.email } %}
                                {% include "_forms/defaults/input.select.html.twig" with { 'form' : form.new.locale } %}
                            </div>
                            <div class="flex-column" data-kt-stepper-element="content">
                                <div class="pb-10 pb-lg-15">
                                    <h2 class="fw-bolder text-dark">Personal information</h2>
                                    <div class="text-muted fw-bold fs-6">
                                        If you need more info, please check out <a href="#" class="link-primary fw-bolder">Help Page</a>.
                                    </div>
                                </div>
                                {% include "_forms/defaults/input.file.avatar.html.twig" with { 'form' : form.new.avatar } %}
                                {% include "_forms/defaults/input.text.html.twig" with { 'form' : form.new.lastname } %}
                                {% include "_forms/defaults/input.text.html.twig" with { 'form' : form.new.firstname } %}
                                {% include "_forms/defaults/input.text.html.twig" with { 'form' : form.new.jobTitle } %}
                            </div>
                            <div class="flex-column" data-kt-stepper-element="content">
                                <div class="pb-10 pb-lg-15">
                                    <h2 class="fw-bolder text-dark">Account security</h2>
                                    <div class="text-muted fw-bold fs-6">
                                        If you need more info, please check out <a href="#" class="link-primary fw-bolder">Help Page</a>.
                                    </div>
                                </div>
                                {% include "_forms/defaults/input.password.html.twig" with { 'form' : form.new.password.first, 'meter': true } %}
                                {% include "_forms/defaults/input.password.html.twig" with { 'form' : form.new.password.second } %}
                                <div class="separator separator-dashed my-5"></div>
                                {% include "_forms/defaults/input.text.html.twig" with { 'form' : form.new.dateStarted } %}
                                <div class="separator separator-dashed my-5"></div>
                                {% include "_forms/defaults/input.checkbox.switch.html.twig" with { 'form': form.new.locked } %}
                                {% include "_forms/defaults/input.checkbox.switch.html.twig" with { 'form': form.new.enabled } %}
                            </div>
                        </div>
                        <div class="d-flex flex-stack">
                            <div class="me-2">
                                <button type="button" class="btn btn-light btn-active-light-primary" data-kt-stepper-action="previous">Back</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary" data-kt-stepper-action="submit">
                                    <span class="indicator-label">Submit</span>
                                    <span class="indicator-progress">Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                                <button type="button" class="btn btn-primary" data-kt-stepper-action="next">Continue</button>
                            </div>
                        </div>
                    {{ form_end(form.new) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        var FrontOfficeUsersNew = function(){
            return {
                step: function(){
                    var stepper = document.querySelector("#frontoffice_users_new_stepper");
                    var stepperForm = stepper.querySelector('#frontoffice_users_new_form');
                    var stepperSubmit = stepper.querySelector('[data-kt-stepper-action="submit"]');
                    var s = new KTStepper(stepper);
                    var a = [];

                    a.push(FormValidation.formValidation(stepperForm, {
                        fields: {
                            "new_form[email]": {
                                validators: {
                                    emailAddress: {message: "the value is not a valid email address"},
                                    notEmpty: {message: "your email is required"}
                                }
                            }
                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger,
                            bootstrap: new FormValidation.plugins.Bootstrap5({
                                rowSelector: ".fv-row",
                                eleInvalidClass: "",
                                eleValidClass: ""
                            })
                        }
                    }));
                    a.push(FormValidation.formValidation(stepperForm, {
                        fields: {
                            "new_form[lastname]": {validators: {notEmpty: {message: "your lastname is required"}}},
                            "new_form[firstname]": {validators: {notEmpty: {message: "your firstname is required"}}},
                            "new_form[jobTitle]": {validators: {notEmpty: {message: "your job title is required"}}}
                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger,
                            bootstrap: new FormValidation.plugins.Bootstrap5({
                                rowSelector: ".fv-row",
                                eleInvalidClass: "",
                                eleValidClass: ""
                            })
                        }
                    }));

                    s.on("kt.stepper.next", function(e){
                        var t = a[e.getCurrentStepIndex() - 1];
                        t ? t.validate().then(function(t){
                            "Valid" == t ? (e.goNext(), KTUtil.scrollTop()) : null
                        }) : (e.goNext(), KTUtil.scrollTop());
                    });

                    s.on("kt.stepper.previous", function(e){
                        e.goPrevious(), KTUtil.scrollTop();
                    });

                    stepperSubmit.addEventListener("click", (function (t) {
                        stepperSubmit.setAttribute("data-kt-indicator", "on");
                        stepperSubmit.disabled = !0;
                        stepperForm.submit();
                    }));
                }
            }
        }();
        KTUtil.onDOMContentLoaded(function(){
            FrontOfficeUsersNew.step();
        })
    </script>
{% endblock %}