{% if pageCount > 1 %}
    <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
            {% if previous is defined %}
                <li class="paginate_button page-item previous">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="page-link"><i class="previous"></i></a>
                </li>
            {% else %}
                <li class="paginate_button page-item previous disabled">
                    <a href="#" class="page-link"><i class="previous"></i></a>
                </li>
            {% endif %}

            {% if startPage > 1 %}
                <li class="paginate_button page-item">
                    <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}" class="page-link">1</a>
                </li>
                {% if startPage == 3 %}
                    <li class="paginate_button page-item">
                        <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}" class="page-link">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="paginate_button page-item disabled">
                        <a href="#" class="page-link">&hellip;</a>
                    </li>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="paginate_button page-item">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="page-link">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="paginate_button page-item active">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="page-link">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li class="paginate_button page-item disabled">
                            <a href="#" class="page-link">&hellip;</a>
                        </li>
                    {% else %}
                        <li class="paginate_button page-item">
                            <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}" class="page-link">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="paginate_button page-item">
                    <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}" class="page-link">{{ pageCount }}</a>
                </li>
            {% endif %}

            {% if next is defined %}
                <li class="paginate_button page-item next">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="page-link"><i class="next"></i></a>
                </li>
            {% else %}
                <li class="paginate_button page-item next disabled">
                    <a href="#" class="page-link"><i class="next"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}